<nav>
    <a id="brand-name" href="/">SIMON PHELPS</a>
    
    <a id="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div id="links-container">
        <ul>
            <li class="navbar-links"><a href="/">HOME</a></li>
            <li class="navbar-links"><a href="#about">ABOUT</a></li>
            <li class="navbar-links"><a href="/blogPosts">BLOG</a></li>
            <li class="navbar-links"><a href="#contact">CONTACT</a></li>
        </ul>

    </div>
</nav>